.header-bg {
  background-color: #272727;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.website-logo {
  height: 30px;
  margin-left: 20px;
}
.link {
  color: white;
  text-decoration: none;
  margin-right: 25px;
}
.row {
  display: flex;
  align-items: center;
}
.header-btn {
  margin-right: 20px;
  padding: 10px;
}
